<template name='searchModal'>
	<div class="modal fade" id="bookSearchModal" tabindex="-1" role="dialog" aria-labelledby="searchBookLabel" aria-hidden="true">
			 <form action="" role='form' id='searchForm'>
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title" id="searchBookLabel">Find a Book</h4>
			      </div>
			      <div class="modal-body">
			        
	                  	<div class="form-group">
	                  		<input class='form-control' type="text" placeholder="Find a Book" id='findBookQuery'>
	                  	</div>	
		       
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <input type="submit" class="btn btn-primary" value='Search'> 
			      </div>
			    </div> <!-- modal content -->
			  </div> <!-- modal dialog -->

			</form>   
		</div> <!-- modal fade -->	
</template>

<template name='searchModalBtn'>

	<li id="searchModalLi"><a id='searchModalBtn' type="button" data-toggle="modal" data-target="#bookSearchModal">
					  search
	</a></li>

</template>