<template name='home'>
	<div class="jumbotron">
		<div class="container">
			<div class="overlay">
		        <div class="container">
		          <div class="row">
		            <div class="header-div">
		                <div class="home-page-text">
		                  <h1 id='main-name-text'>SHELF LIFE <small>\ˈSHelf\ /līf/ <strong>noun</strong></small></h1><h2>a cure for the affliction of readers desolation</h2>
		                  
		                </div>
		            </div>   
		          </div>   
		        </div>
		     </div>
		</div>
	</div>

</template>