.jumbotron{
	background-image: url('/images/books.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100vw;
	height: 100vh;
	position: absolute;
}
.overlay {
	/*background-color: rgba(155, 255, 203, 0.7);*/
	background-color: rgba(0, 0, 0, 0.8);
	/*background-color: #819494;*/
	z-index: 999;
	/*opacity: 70%;*/
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;

}
.book-profile{
	padding: 20px;
}

.img-responsive {
    margin: 0 auto;
    box-shadow: 15px 15px 15px black;
}
#login-buttons a {
	text-decoration: none;
}

#main{
	padding-top: 60px;
}
.header-div {
	top: 40%;
	position: relative;
}
iframe {
	width: 100%;
}