.jumbotron{
	background-image: url('/images/books.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100vw;
	height: 100vh;
	position: absolute;
}
.overlay {
	/*background-color: rgba(155, 255, 203, 0.7);*/
	background-color: rgba(0, 0, 0, 0.8);
	/*background-color: #819494;*/
	z-index: 999;
	/*opacity: 70%;*/
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;

}
.book-profile{
	padding: 20px;
}

.img-responsive {
    margin: 0 auto;
    box-shadow: 15px 15px 15px black;
}
#login-buttons a {
	text-decoration: none;
}

#main{
	padding-top: 60px;
}
.header-div {
	top: 40%;
	position: relative;
}
iframe {
	width: 100%;
}
.image-center {
	margin: 0 auto;
}
.carousel-start-text {
	background-color: rgba(255, 255, 255, 0.9);
	border: 2px solid #333;
	color: black;
}
.carousel-div {
	margin-top: 50px;
}
.carousel-control {
	margin-top: 20%;
	color: dimgray;
	/*position: relative;*/
}
.item{
    padding: 30px 0px;
    margin: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
.lazy-carousel-img {
	width: 100%;
}
/*.book-description {
	overflow: scroll;
	height: 250px;
}*/
.my-books-row {
	height: 450px;
	overflow: scroll;
}
#main {
	margin-top: 60px;
}